<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KWS</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jQuery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/socket.js"></script>
</head>

<body>
    <div class="content">
        <h1 id='kws_re'></h1>
    </div>
</body>
</html>